In [1]:
from sklearn.datasets import load_iris

In [4]:
import pymysql , talib, sys,os
import pandas as pd

conn = pymysql.connect(host='tptcn.ddns.net', port=53306, db='p_master',
                             user=os.environ['MYSQL_READUSER'], password=os.environ['MYSQL_READPASSWORD'],
                             cursorclass=pymysql.cursors.DictCursor)
symbol='0823.HK'
sql = "SELECT  `Date`, `Open` , `High` , `Low` , `Close` , `Volume` FROM `consolidated_daily` WHERE `symbol`='%s' "
daily = pd.read_sql(sql %(symbol),  conn,index_col=['Date'] )

conn.close()

rsi = talib.RSI( daily['Close'].values, timeperiod=14)
daily['RSI'] = rsi
print daily

              Open   High    Low  Close    Volume        RSI
Date
2014-03-12  36.550  36.90  36.15  36.50   4937820        NaN
2014-03-13  36.550  36.65  36.00  36.50   3560757        NaN
2014-03-14  36.469  36.40  36.05  36.15   4224771        NaN
2014-03-17  35.900  36.80  36.00  36.40   3821692        NaN
2014-03-18  36.504  36.70  36.40  36.70   4773872        NaN
2014-03-19  36.557  37.10  36.50  36.95   4458672        NaN
2014-03-20  38.004  36.85  35.60  35.65   4209658        NaN
2014-03-21  35.650  36.05  35.50  35.80   5776583        NaN
2014-03-24  35.800  37.00  36.05  36.90   6929080        NaN
2014-03-25  36.950  37.00  36.55  36.65   3404715        NaN
2014-03-26  37.050  36.85  36.50  36.55   2783417        NaN
2014-03-27  36.550  37.30  36.70  37.30   4336244        NaN
2014-03-28  37.300  37.90  37.35  37.65   3874328        NaN
2014-03-31  37.563  38.25  37.70  38.15   4692236        NaN
2014-04-01  38.150  38.50  37.70  38.15   3991093  64.601770
2014-04-02  38.131  38.50  37.75  37.85   3422835  61.107534
2014-04-03  37.875  38.30  37.65  37.80   4142903  60.519990
2014-04-04  37.650  38.00  37.40  38.00   2217090  62.090144
2014-04-07  36.800  38.45  37.75  37.80   2597741  59.540035
2014-04-08  37.400  38.20  37.65  37.75   3959972  58.888866
2014-04-09  37.750  38.10  37.80  37.90   2686528  60.291905
2014-04-10  37.550  38.05  37.55  37.65   3086043  56.811876
2014-04-11  37.650  38.15  37.50  37.85   4669250  58.857784
2014-04-14  37.828  38.20  37.50  38.20   2139338  62.229831
2014-04-15  38.200  38.25  37.90  38.05   2082554  59.961601
2014-04-16  38.060  38.25  37.90  38.05   2560164  59.961601
2014-04-17  38.039  38.30  38.00  38.25   2161001  62.097890
2014-04-22  38.300  38.50  38.15  38.50   1609597  64.637793
2014-04-23  38.500  38.80  38.40  38.50   3795630  64.637793
2014-04-24  38.800  38.75  38.35  38.65   4294937  66.213300
...            ...    ...    ...    ...       ...        ...
2018-11-05  71.900  71.90  70.65  70.80   3223023  43.066410
2018-11-06  71.400  72.20  70.80  72.00   2118180  47.536191
2018-11-07  71.861  72.65  71.35  72.65   3361219  49.833647
2018-11-08  72.650  73.15  72.20  72.55   2535053  49.474690
2018-11-09  72.250  72.50  71.30  72.00   3756101  47.450250
2018-11-12  72.000  73.10  71.30  72.45   2717358  49.278959
2018-11-13  72.752  72.50  71.50  72.30   3239810  48.670954
2018-11-14  72.500  73.65  71.85  73.65   5663281  54.153462
2018-11-15  73.650  74.30  73.50  74.25   5991598  56.383289
2018-11-16  73.450  73.70  72.95  73.30   4043416  52.065406
2018-11-19  72.800  73.75  72.85  73.35   2752888  52.272572
2018-11-20  73.350  73.25  72.65  72.85   2446730  49.947845
2018-11-21  72.050  73.70  72.00  73.40   2379882  52.452803
2018-11-22  74.600  74.90  74.00  74.60   4011386  57.455707
2018-11-23  74.900  74.90  74.20  74.30   2745005  55.872917
2018-11-26  74.200  75.75  74.30  75.40   4639801  60.202104
2018-11-27  73.300  73.75  72.80  73.00   5596990  48.924206
2018-11-28  73.000  74.70  73.05  74.65   5243848  55.145490
2018-11-29  75.250  76.00  75.15  75.45   5810737  57.827642
2018-11-30  75.450  75.50  74.50  74.50   8756905  53.719657
2018-12-03  74.500  76.15  75.35  75.65   6447698  57.642349
2018-12-04  74.900  76.65  75.45  76.65   4678357  60.757181
2018-12-05  76.650  77.00  75.60  77.00   4974162  61.815562
2018-12-06  77.000  77.25  75.70  77.25   6373934  62.591643
2018-12-07  76.679  79.55  77.80  79.35  11582023  68.401337
2018-12-10  79.350  79.20  76.45  76.70   6792713  56.480779
2018-12-11  76.350  77.75  76.35  77.15   3573992  57.824903
2018-12-12  78.000  78.70  77.10  77.90   5092694  60.040118
2018-12-13  78.010  79.70  78.25  78.95   6529205  62.972353
2018-12-14  78.950  79.00  78.10  78.85   5230050  62.501957

[1148 rows x 6 columns]